.footer {
  background-color: var(--burgundy);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.footer * {
  font-size: 1.2rem;
}
